.index_png{
    height: 40px;
    margin-top: -9px;
}
.nav_style{
    margin-bottom: 0;
}
.my_radius{
    border-radius: 20px;
    margin-top: 5px;
}
.my_radius_h3{
    margin: 4px auto;
    text-align:center;
}