{% extends 'base.html' %}


{% block page-main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">你好</h3>
                    </div>
                    <div class="panel-body">
                        却说董承等问马腾曰：“公欲用何人？”马腾曰：“见有豫州牧刘玄德在此，何不求
之？”承曰：“此人虽系皇叔，今正依附曹操，安肯行此事耶？”腾曰：“吾观前日围场之
中，曹操迎受众贺之时，云长在玄德背后，挺刀欲杀操，玄德以目视之而止。玄德非不欲图
操，恨操牙爪多，恐力不及耳。公试求之，当必应允。”吴硕曰：“此事不宜太速，当从容
商议。”众皆散去。次日黑夜里，董承怀诏，径往玄德公馆中来。门吏入报，玄德迎出，请
入小阁坐定。关、张侍立于侧。玄德曰：“国舅夤夜至此，必有事故。”承曰：“白日乘马
相访，恐操见疑，故黑夜相见。”玄德命取酒相待。承曰：“前日围场之中，云长欲杀曹
操，将军动目摆头而退之，何也？”玄德失惊曰：“公何以知之？”承曰：“人皆不见，某
独见之。”玄德不能隐讳，遂曰：“舍弟见操僭越，故不觉发怒耳。”承掩面而哭曰：“朝
廷臣子，若尽如云长，何忧不太平哉！”玄德恐是曹操使他来试探，乃佯言曰：“曹丞相治
国，为何忧不太平？”承变色而起曰：“公乃汉朝皇叔，故剖肝沥胆以相告，公何诈也？”
玄德曰：“恐国舅有诈，故相试耳。”于是董承取衣带诏令观之，玄德不胜悲愤。又将义状
出示，上止有六位：一，车骑将军董承；二，工部侍郎王子服；三，长水校尉种辑；四，议
郎吴硕；五，昭信将军吴子兰；六，西凉太守马腾。玄德曰：“公既奉诏讨贼，备敢不效犬
马之劳。”承拜谢，便请书名。玄德亦书“左将军刘备”，押了字，付承收讫。承曰：“尚
容再请三人，共聚十义，以图国贼，”玄德曰：“切宜缓缓施行，不可轻泄。”共议到五
更，相别去了。
                    </div>
                </div>


            </div>

        </div>

    </div>



{% endblock %}