{% extends 'base.html' %}


{% block page-main %}
    <div class="container">

        <!--抬头 广告-->
        <div class="row"  style="margin-top: 10px;">
            <div class="col-md-6">
                <div class="jumbotron">
                    <h1>模拟器加技能</h1>
                    <p>免费用</p>
                    <p><a class="btn btn-success btn-lg btn-block" href="#" role="button">点击开用</a></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="jumbotron" >
                    <h1>版本数据统计</h1>
                    <p>数据对比分析</p>
                    <p><a class="btn btn-success btn-lg btn-block" href="#" role="button">点击查看</a></p>
                </div>
            </div>
        </div>

        <!--文章列表-->
        <div class="row">
            <div class="col-md-12">
                <div class="page-header" style="margin: 0">
                    <h1>{{ name }}
                        <small>专题区</small>
                    </h1>
                </div>
                <div class="span_label_style" style="padding-bottom: 20px;">
                    {% for tag in tag_list %}
                        <span class="label label-{{ tag.color }}" >{{ tag.title }}</span>
                    {% endfor %}
                </div>
                <div class="list-group">
                    <!--信息详情-->
                    {% for obj in obj_list %}
                        <a href="{{ obj_id }}/{{ obj.id }}" class="list-group-item">
                            <!--限制长度否则过长样式崩溃15字符可以承载2个标签4位-->
                            {{ obj.title|truncatechars_html:15}}
                            {% for tag in obj.tag.all %}
                                <span class="label label-{{ tag.color }} pull-right" style="margin-left: 5px">{{ tag }}</span>
                            {% endfor %}
                        </a>
                    {% endfor %}
                </div>

            </div>
        </div>

        <!--分页-->

    <nav aria-label="Page navigation">
      <ul class="pagination pagination-lg pull-right">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
          <li><a href="#">6</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>


    </div>
{% endblock %}