{% extends 'base.html' %}


{% block page-main %}
    <div class="container" style="margin-top: 10px">

        <div class="row">
            <div class="col-md-6">
                <div class="jumbotron" >
                    <h1>模拟加技能</h1>
                    <p>免费用</p>
                    <p><a class="btn btn-success btn-lg btn-block" href="#" role="button">点击开用</a></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="jumbotron" >
                    <h1>版本数据统计</h1>
                    <p>数据对比分析</p>
                    <p><a class="btn btn-success btn-lg btn-block" href="#" role="button">点击查看</a></p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>{{ name }}
                        <small>专题区</small>
                    </h1>
                </div>

                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>


            </div>
        </div>
    </div>
{% endblock %}